/* Color Name */
h1 {
    color: red;
}

/* Hexadecimal */
h2 {
    color: #23ef01;
}

/* Hexadecimal Shorthand */
h3 {
    color: #ff0;
}

/* Hexadecimal with Transparency */
h4 {
    color: #00ff00ff;
}

/* Hexadecimal with Transparency Shorthand */
h5 {
    color: #f007;
}

/* RGB */
h6 {
    color: rgb(24, 14, 114);
}

/* RGBA */
p {
    color: rgba(115, 33, 6, 1);
}
